In [55]:


import numpy as np
import pandas as pd 
np.random.seed(123)
n_sample=1000
class_0_ratio=0.9
n_class_0=int(n_sample * class_0_ratio)
n_class_1=n_sample - n_class_0

In [56]:
print(n_class_0)

900

In [57]:
print(n_class_1)

100

In [58]:
class0= pd.DataFrame({
    'feature_1': np.random.normal(loc=0 , scale=1 , size=n_class_0),
    'feature_2': np.random.normal(loc=0 , scale=1 , size=n_class_0),
    'target' : [0] * n_class_0})

In [59]:
print(class0)

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
895   0.238761  -0.003155       0
896  -1.106386  -0.430660       0
897   0.366732  -0.146416       0
898   1.023906   1.160176       0
899  -0.210056  -0.641512       0

[900 rows x 3 columns]

In [60]:
class1= pd.DataFrame({
    'feature_1' : np.random.normal( loc=0 , scale=1 , size=n_class_1),
    'feature_2' : np.random.normal( loc=0 , scale=1 , size=n_class_1),
    'target' : [1]* n_class_1})

In [61]:
print(class1)

    feature_1  feature_2  target
0   -0.300232   0.139033       1
1   -0.632261   0.025577       1
2   -0.204317  -0.196443       1
3    0.213696   1.312255       1
4    1.033878   1.187417       1
..        ...        ...     ...
95  -0.623629   0.845701       1
96   0.239810  -1.119923       1
97  -0.868240  -0.359297       1
98   0.902006  -1.609695       1
99   0.697490   0.013570       1

[100 rows x 3 columns]

In [62]:
df=pd.concat([class0 ,class1])

In [63]:
print(df)

    feature_1  feature_2  target
0   -1.085631   0.551302       0
1    0.997345   0.419589       0
2    0.282978   1.815652       0
3   -1.506295  -0.252750       0
4   -0.578600  -0.292004       0
..        ...        ...     ...
95  -0.623629   0.845701       1
96   0.239810  -1.119923       1
97  -0.868240  -0.359297       1
98   0.902006  -1.609695       1
99   0.697490   0.013570       1

[1000 rows x 3 columns]

In [64]:
df.isnull()

    feature_1  feature_2  target
0       False      False   False
1       False      False   False
2       False      False   False
3       False      False   False
4       False      False   False
..        ...        ...     ...
95      False      False   False
96      False      False   False
97      False      False   False
98      False      False   False
99      False      False   False

[1000 rows x 3 columns]

In [65]:
df.isnull().sum()

feature_1    0
feature_2    0
target       0
dtype: int64

In [66]:
df['feature_1'].isnull().sum()

0

In [67]:
df_minority=df[df['target']==1]
print(df_minority)

    feature_1  feature_2  target
0   -0.300232   0.139033       1
1   -0.632261   0.025577       1
2   -0.204317  -0.196443       1
3    0.213696   1.312255       1
4    1.033878   1.187417       1
..        ...        ...     ...
95  -0.623629   0.845701       1
96   0.239810  -1.119923       1
97  -0.868240  -0.359297       1
98   0.902006  -1.609695       1
99   0.697490   0.013570       1

[100 rows x 3 columns]

In [68]:
df_majority=df[df['target']==0]

In [69]:
print(df_majority)

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
895   0.238761  -0.003155       0
896  -1.106386  -0.430660       0
897   0.366732  -0.146416       0
898   1.023906   1.160176       0
899  -0.210056  -0.641512       0

[900 rows x 3 columns]

In [70]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [71]:
from sklearn.utils import resample

In [74]:
df_minority=resample(df_minority , replace=True , n_samples=len(df_majority) , random_state=42)

In [76]:
print(df_minority)

    feature_1  feature_2  target
51  -0.874146  -0.156083       1
92   0.196570  -0.602575       1
14  -0.067830   0.998053       1
71   0.272825   1.034197       1
60   0.870056  -0.449515       1
..        ...        ...     ...
52  -0.811098   0.189189       1
65   1.919526  -0.019459       1
76   0.810326   1.604614       1
42   1.621531   0.168229       1
74  -0.839113   0.489203       1

[900 rows x 3 columns]