In [3]:
import numpy as np
import pandas as pd 
np.random.seed(123)
n_sample=1000
class_0_ratio=0.9
n_class_0=int(n_sample * class_0_ratio)
n_class_1=n_sample - n_class_0

In [4]:
print(n_class_0)

900

In [5]:
print(n_class_1)

100

In [8]:
class0= pd.DataFrame({
    'feature_1': np.random.normal(loc=0 , scale=1 , size=n_class_0),
    'feature_2': np.random.normal(loc=0 , scale=1 , size=n_class_0),
    'target' : [0] * n_class_0})

In [9]:
print(class0)

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
895   0.238761  -0.003155       0
896  -1.106386  -0.430660       0
897   0.366732  -0.146416       0
898   1.023906   1.160176       0
899  -0.210056  -0.641512       0

[900 rows x 3 columns]

In [10]:
class1= pd.DataFrame({
    'feature_1' : np.random.normal( loc=0 , scale=1 , size=n_class_1),
    'feature_2' : np.random.normal( loc=0 , scale=1 , size=n_class_1),
    'target' : [1]* n_class_1})

In [11]:
print(class1)

    feature_1  feature_2  target
0   -0.300232   0.139033       1
1   -0.632261   0.025577       1
2   -0.204317  -0.196443       1
3    0.213696   1.312255       1
4    1.033878   1.187417       1
..        ...        ...     ...
95  -0.623629   0.845701       1
96   0.239810  -1.119923       1
97  -0.868240  -0.359297       1
98   0.902006  -1.609695       1
99   0.697490   0.013570       1

[100 rows x 3 columns]

In [35]:
df=pd.concat([class0 ,class1])

In [36]:
print(df)

    feature_1  feature_2  target
0   -1.085631   0.551302       0
1    0.997345   0.419589       0
2    0.282978   1.815652       0
3   -1.506295  -0.252750       0
4   -0.578600  -0.292004       0
..        ...        ...     ...
95  -0.623629   0.845701       1
96   0.239810  -1.119923       1
97  -0.868240  -0.359297       1
98   0.902006  -1.609695       1
99   0.697490   0.013570       1

[1000 rows x 3 columns]

In [37]:
df.isnull()

    feature_1  feature_2  target
0       False      False   False
1       False      False   False
2       False      False   False
3       False      False   False
4       False      False   False
..        ...        ...     ...
95      False      False   False
96      False      False   False
97      False      False   False
98      False      False   False
99      False      False   False

[1000 rows x 3 columns]

In [38]:
df.isnull().sum()

feature_1    0
feature_2    0
target       0
dtype: int64

In [27]:
pd.isnull().sum()

TypeError: isna() missing 1 required positional argument: 'obj'